@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media(min-width:300px){
.head{
    display: flex;
    justify-content: space-between;
} 
.header-nav{
    display: flex;
} 
.header-nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}  
.header-nav ul li a,.header-nav button a{
   text-decoration: none;
} 
.header-nav ul,.header-nav button{
    display: none;
}
.header-logo h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 0 20px;
    color: #5f687b;
}
.header-nav i{
    font-size: 30px;
    margin: 20px 20px 0 0;
    color: #5f687b;
}
.banner-left-in,.banner-left-inn{
    display: flex;
}
.banner-left-in a{
    text-decoration: none;
}
.banner-left{
    margin: 8% 5%;
}
.banner-left h2{
    font-size: 25px;
    font-weight: 600;
    color: #3e4450;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 10px 0;
}
.banner-left p{
    font-size: 20px;
    color: #858ea1;
    line-height: 25px;
    margin: 10px 0 10px 0;
    font-family: 'Raleway', sans-serif;
}
.banner-left-in button{
    padding: 10px 30px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    background: #16df7e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgb(22 223 126 / 45%);
}
.banner-left-in button a{
    color: #fff;
}
.banner-left-inn i{
    font-size: 30px;
    color: #858ea1;
}
.banner-left-inn span{
    font-size: 18px;
    color: #858ea1;
    margin: 7px 0 0 8px;
    font-family: 'Open Sans', sans-serif;
}
.banner-left-inn{
    margin: 15px 0 0 20px;
}
.banner-right{
    text-align: center;
}
.banner-right img{
    width: 70%;
    margin-top: 20px;
}
.banner-box-in{
    padding: 35px 20px;
    background: #f9f9fa;
    margin: 15px;
}
.banner-box-in i{
    font-size: 40px;
    color: #16df7e;
    display: inline-block;
    margin: 8px 0 10px 0;
}
.banner-box-in h3{
    font-size: 18px;
    font-weight: 600;
    color: #5f687b;
    font-family: 'Raleway', sans-serif;
    margin: 8px 0 10px 0;
}
.banner-box-in p{
    font-size: 15px;
    color: #5f687b;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0 10px 0;
}
.banner-box{
    padding: 10px;
}
.banner-down-left{
    text-align: center;
    margin-top: 20px;
}
.banner-down-left img{
    width: 80%;
}
.banner-down-right{
    padding: 15px 20px;
    margin-top: 20px;
}
.banner-down-right h2{
    font-size: 33px;
    font-weight: 700;
    color: #5f687b;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    padding-bottom: 20px;
}
.banner-down-right ul li{
    list-style: none;
    font-size: 16px;
    color: #444444;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}
.banner-down-right p{
    font-size: 16px;
    color: #444444;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}
.banner-down-right ul i{
    font-size: 23px;
    padding-right: 5px;
    color: #16df7e;
}
.banner-num-full{
    text-align: center;
}
.banner-num-in span{
    font-size: 45px;
    font-weight: 700;
    color: #16df7e;
    font-family: 'Open Sans', sans-serif;
}
.banner-num-in p{
    font-size: 18px;
    font-weight: 600;
    color: #5f687b;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 25px 0;
}
.service-top-in{
    text-align: center;
}
.service-top-in h2{
    font-size: 30px;
    font-weight: 700;
    color: #5f687b;
    margin: 60px 0 20px 0; 
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.service-top-in span{
    font-size: 42px;
    font-weight: 700;
    color: #f0f1f3;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
}
.service-top-in p{
    width: 90%;
    margin: auto;
    font-size: 16px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.service{
    background-color: #f9f9fa;
}
.service-top{
    padding: 15px 0;
}
.service-bottom-in{
    background-color: #fff;
    padding: 80px 20px;
    margin: 20px;
    text-align: center;
}
.service-bottom{
    padding: 20px 5px;
}
.service-bottom-in i{
    font-size: 30px;
    color: #16df7e;
}
.service-bottom-in h3{
    font-size: 25px;
    font-weight: 700;
    color: #5f687b;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.service-bottom-in p{
    font-size: 15px;
    color: #444444;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}
/* portfolio */  
.portfolio-top-in{
    text-align: center;
}
.portfolio-top-in h2{
    font-size: 30px;
    font-weight: 700;
    color: #5f687b;
    margin: 60px 0 20px 0; 
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.portfolio-top-in span{
    font-size: 42px;
    font-weight: 700;
    color: #f0f1f3;
    font-family: 'Raleway', sans-serif;  
    position: absolute;
    left: 0;
    right: 0;
}
.portfolio-top-in p{
    width: 90%;
    margin: auto;
    font-size: 16px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.portfolio-row ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.portfolio-row ul li{
    padding: 10px;
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.port-img img{
    width: 90%;
}
.port-img{
    text-align: center;
    margin: auto;
}
.portfolio-bottom{
    margin-top: 20px;
}
.port-item{
    position: relative;
}
.port-info{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    margin: auto;
    padding: 20px;
    opacity: 0;
}
.port-item:hover .port-info{
    opacity: 1;
}
.port-app{
    margin-right: 250px;
}
.port-app h4{
    font-size: 18px;
    font-weight: 600;
    color: #5f687b;
    font-family: 'Raleway', sans-serif;
}
.port-app p{
    font-size: 15px;
    color: #949cac;
    margin-top: 10px;
}
.port-icon i{
    font-size: 20px;
    color: blue; 
    margin-top: 8px;
    padding: 5px;
    display: inline-block;
}
/* testimonials */
.testi-top-in{
    text-align: center;
}
.testi-top-in h2{
    font-size: 30px;
    font-weight: 700;
    color: #5f687b;
    margin: 60px 0 20px 0; 
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.testi-top-in span{
    font-size: 42px;
    font-weight: 700;
    color: #f0f1f3;
    font-family: 'Raleway', sans-serif;  
    position: absolute;
    left: 0;
    right: 0;
}
.testi-top-in p{
    width: 90%;
    margin: auto;
    font-size: 16px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.testimonials{
    background-color: #f9f9fa;
}
.testi-top{
    padding-top: 10px;
}
.testi-in p{
    background-color: #fff;
    padding: 20px 20px 50px 20px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 20px;
    color: #444444;
    line-height: 1.4;
    border-radius: 8px;
    position: relative;
}
.testi-in p i{
    color: #e4e6ea;
    font-size: 20px;
}
.testi-bottom{
    margin-top: 30px;
}
.testi-bot-in img{
    border-radius: 50%;
    border: 5px solid #fff;
}
.testi-bot-in{
    position: relative;
    margin: -60px 0 0 50px;
}
.testi-bot-in h3{
    font-size: 16px;
    font-weight: bold;
    color: #111;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}
.testi-bot-in h4{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
}
.action{
    background-color:#14c871;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}
.action-full a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    border-radius: 4px;
}
.action-full p{
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}
.action-full h3{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
/* team */
.team-top-in{
    text-align: center;
}
.team-top-in h2{
    font-size: 30px;
    font-weight: 700;
    color: #5f687b;
    /* margin: 60px 0 20px 0;  */
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.team-top-in span{
    font-size: 42px;
    font-weight: 700;
    color: #f0f1f3;
    font-family: 'Raleway', sans-serif;  
    position: absolute;
    left: 0;
    right: 0;
}
.team-top-in p{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    font-size: 16px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.team{
    background-color: #f9f9fa;
}
.team-top{
    padding-top: 60px;
}
.team-bottom{
    padding: 30px 0;
}
.team-bot-in{
    text-align: center;
    background-color: #fff;
    margin: 20px ;
    padding: 10px;
}
.team-bot-in img{
    margin-top: 30px;
}
.team-bot-in h3{
    font-size: 18px;
    font-family: 'Raleway', sans-serif; 
    margin-top: 20px;
}
.team-bot-in span{
    font-size: 13px;
    font-style: italic;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    display: inline-block;
}
.team-bot-in p{
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}
.team-media{
    margin-top: 20px;
}
.team-media i{
    font-size: 20px;
    margin-left: 3px;
    padding-bottom: 10px;
    display: inline-block;
    color: rgb(145, 145, 145);
}
.team-media i:hover{
    color: rgb(20, 200, 113);
}
/* contact */

.contact-top-in{
    text-align: center;
}
.contact-top-in h2{
    font-size: 30px;
    font-weight: 700;
    color: #5f687b;
    /* margin: 60px 0 20px 0;  */
    position: relative;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.contact-top-in span{
    font-size: 42px;
    font-weight: 700;
    color: #f0f1f3;
    font-family: 'Raleway', sans-serif;  
    position: absolute;
    left: 0;
    right: 0;
}
.contact-top-in p{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    font-size: 16px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.contact-top{
    margin-top: 30px;
}
.con-map{
    text-align: center;
}
.contact-left,.contact-right{
    background-color: #f9f9fa;
    margin: 30px;
    padding: 25px;
    border-top: 3px solid #16df7e;
    border-bottom: 3px solid #16df7e;
}
.con-location,.con-email,.con-call{
    display: flex;
}
.location-detail h3,.email-detail h3,.call-detail h3{
    font-size: 21px;
    padding-left: 20px;
    color: #5f687b;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;  
}
.location-detail p,.email-detail p,.call-detail p{
    font-size: 15px;
    padding: 0 0 10px 20px;
    margin-bottom: 20px;
    color: #949cac;
    font-family: 'Open Sans', sans-serif;
}
.con-location i,.con-email i,.con-call i{
    font-size: 23px;
    color: #16df7e;
    background: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.con-location{
    margin-top: 20px;
}
.form-one-in input{
    width: 100%;
    height: 45px;
    border: 1px solid #ced4da;
}
.form-one-in,.form-two,.form-three{
    margin-top: 20px;
}
.form-two input{
    width: 100%;
    height: 45px;
    border: 1px solid #ced4da;
}
.form-one-in label{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
.form-two label{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
.form-three label{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
.form-three textarea{
    width: 100%;
    border: 1px solid #ced4da;
}
.form-button button{
    font-size: 16px;
    background: #16df7e;
    padding: 10px 24px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}
.form-button{
    text-align: center;
}
}
@media(min-width:560px){
.port-img img{
    width: 80%;
}   
.port-info{
    width: 80%;
} 
}
